
<!DOCTYPE html>
<html lang="en">
<script>
  if (location.protocol != 'https:') {
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
  </script>
<head>
 <% if (bot.ayar.has(`karalist_${user.id}`)) return "Botun komutlarını kullanabilme ve siteyi görme hakkınız bulunmamaktadır!";  { %>
 <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%=bot.avatarURL%>">
  <meta name="author" content="<%=bot.user.tag%>">
    <meta name="keywords" content="Discord Bot">


  <title>Merhaba, <%=user.username%></title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
<meta property="og:image" content="<%=bot.avatarURL%>">
  <meta property="og:description" content="Gelişmiş Türkçe Discord Botu ">
  <meta name="description" content="Gelişmiş Türkçe Discord Botu">
  <meta name="theme-color" content="#0070fa">
  <meta charset="UTF-8">
  <link rel='icon' href='<%=bot.avatarURL%>'>
	<title><%=bot.user.username%> Web Paneli</title>
</head>
  <body>
    
    
          <%if(!user) {%>
           <meta http-equiv="refresh" content="0;URL=https://panel.botvortex.xyz">
            <%}%>
       <%if(user) {%>
          
              
              
              
        </div>
          </li>

      <%}%>

        </ul>
      </div>

  </nav>
<script src="/css/js/jquery.min.js"></script>
  <script src="/css/js/popper.min.js"></script>
  <script src="/css/js/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/css/js/perfect-scrollbar.jquery.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>



  <script src="/css/js/chartist.min.js"></script>

  <script src="/css/js/bootstrap-notify.js"></script>
 
  <script src="/css/js/material-dashboard.js?v=2.1.0"></script>
    
 
  <script src="/css/js/demo.js"></script>
